<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DesignPatterns/src/creational_design_patterns/abstract_factory_pattern/AbstractDesign.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="creational_design_patterns.abstract_factory_pattern.AbstractDesign"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DesignPatterns"/>
</launchConfiguration>
